@model BlogApp.Areas.Admin.Data.Website

@{
    ViewBag.Title = "Xóa nguồn tin";
}

<h2>Xóa nguồn tin</h2>

<h3>Bạn có chắc muốn xóa nguồn tin này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Cú pháp cắt chuỗi (start,end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Syntax)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-success" /> 
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
