@model BlogApp.Areas.Admin.Data.Website

@{
    ViewBag.Title = "Chi tiết nguồn tin";
}

<h2>Chi tiết nguồn tin</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Cú pháp cắt chuỗi (start,end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Syntax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success" })
</p>
