@model BlogApp.Areas.Main.Data.NewsViewModel
@{
    ViewBag.Title = "Chi tiết tin tức";
}

@section styles {
    <style>
        .list-concern{
            display: none;
        }
        .share-sticky{
            display: none;
        }
        .image{
            width: 100%;
        }
        .image > img{
            width: 100%;
        }
    </style>    
} 

<section class="section single-wrapper">
    <div class="container">
        <div class="row">
            <div id="recentblog" class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                @Html.Action("NewsContent", Model)
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>


