@model BlogApp.Areas.Admin.Data.Topic

@{
    ViewBag.Title = "Chi tiết chủ đề";
}

<h2>CHI TIẾT CHỦ ĐỀ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Số bài viết
        </dt>

        <dd>
            @ViewBag.SoBaiViet
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class="btn btn-success" })
</p>
